streamlit==1.42.1
opencv-python-headless==4.11.0.86
pillow==11.1.0
numpy==2.1.1
PyYAML==6.0.2
xmltodict==0.14.2
jsonschema==4.23.0
pandas==2.2.3
matplotlib==3.10.0
pycocotools==2.0.8
scipy==1.15.2
torch==2.6.0
torchvision==0.21.0
ultralytics==8.3.75
